OAUTH_CONSUMER=
OAUTH_SECRET=

# Production default if unset: https://pillbug.toolforge.org/callback
# OAUTH_CALLBACK=http://localhost:5173/callback - will only work if OAuth callback is not registered, i.e. in OAuth applications for the owner only
# OAUTH_MW_ORIGIN=https://meta.wikimedia.org